.view-entries-container {
    width: 100%;
    padding: 20px 20px;
    overflow-y: scroll;
}

.tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.selected-tab {
    font-size: 1rem;
    color: #444;
    font-weight: 600;
    border-bottom: #53a86b solid 3px;
    margin-right: 25px;
    cursor: pointer;
}

.unselected-tab {
    font-size: 1rem;
    color: rgb(151, 151, 151);
    font-weight: 500;
    margin-right: 25px;
    cursor: pointer;
}

.block-village-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.entries-list {

}